<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table style="width:100%">
      <tr>
        <td style="background-color: #448ed3; height: 50px; text-align: center;">
          <span style="font-family: 'PatuaOne', 'sans serif'; font-size: 30pt; color: #ffffff;">Game-a-thon of Learning</span>
        </td>
      </tr>
      <tr>
        <td>
          <div style="margin: 20px 20px 20px 20px;">
            <h1>Game Invitation</h1>
            <p>
              <%= @user.username %> has invited you to game <%= @game.name %>.
            </p>
            <p>
              Game description:
            </p>
            <p>
              <%= @game.description %>
            </p>
            <p>
              Please login or sign up with this email account to access the game.
            </p>
          </div>

        </td>
      </tr>
      <tr>
        <td style="background-color: #448ed3; height: 50px"></td>
      </tr>
    </table>

  </body>
</html>