<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi customer,</h1>
    <p>
      <%= @user.username %> has invited you to game <%= @game.name %>
    </p>

    <p>
      <%= @game.description %>
    </p>

    <p>
      Please login or sign up with this email account to access the game.
    </p>
  </body>
</html>