<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <table style="width:100%">
      <tr>
        <td style="background-color: #448ed3; height: 50px; text-align: center;">
          <span style="font-family: 'PatuaOne', 'sans serif'; font-size: 30pt; color: #ffffff;">Game-a-thon of Learning</span>
        </td>
      </tr>
      <tr>
        <td>
          <div style="margin: 20px 20px 20px 20px;">
            <h1>Hi <%= @user.username %>,</h1>
            <p>Your password has been reset. Your new temporary password is:</p>
            <p><%= @new_pass %></p>
            <p>Visit GATOL homepage and sign in with above password.</p>
          </div>

        </td>
      </tr>
      <tr>
        <td style="background-color: #448ed3; height: 50px"></td>
      </tr>
    </table>

  </body>
</html>