<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.username %></h1>
    <p>
      Welcome to GATOL, <%= @user.username %>. Before we get started, we need to quickly verify your email address.
    </p>
    <p>
      Click <a href="https://calm-garden-9078.herokuapp.com/api/<%= @type %>/<%= @user.auth_token %>/confirm">here</a> to verify your email account.
    </p>
  </body>
</html>