<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>

      div.gatol {
        font-weight: bold;
        color: #FFFFFF;
        letter-spacing: -1pt;
        word-spacing: 2pt;
        font-size: 30px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        font-family: CarterOne, PatuaOne;
        background-color: #448ed3;
      }

      div.head {
        margin-bottom: 10px;
      }

      div.tail {
        margin-top: 10px;
      }

      div.text-field {
        margin: 20px;
      }

    </style>
  </head>
  <body>

    <div class='gatol head'>
      Game-a-thon of Learning
    </div>

    <div class='text-field'>
      <h1>Hi <%= @user.username %></h1>
      <p>
        Welcome to GATOL, <%= @user.username %>. Before we get started, we need to quickly verify your email address.
      </p>
      <p>
        Click <a href="https://gatol.herokuapp.com/api/<%= @type %>/<%= @user.auth_token %>/confirm">here</a> to verify your email account.
      </p>
    </div>

    <div class='gatol tail'/>

  </body>
</html>