<h1>Listing game_templates</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_templates.each do |game_template| %>
      <tr>
        <td><%= link_to 'Show', game_template %></td>
        <td><%= link_to 'Edit', edit_game_template_path(game_template) %></td>
        <td><%= link_to 'Destroy', game_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game template', new_game_template_path %>
